
.activities {
    padding-top: 0;
  }
  
  .activities-list {
    display: flex;
  }
  
  .activities-title {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  
    color: var(--title-text-color);
  }
  
  .activities-item {
    display: inline-flex;
    align-items: flex-end;
    margin-right: 30px;
    position: relative;
  }
  
  .activities-item:last-child {
    margin-right: 0;
  }
  
  .activities-text {
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  min-height: 70px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  }